body{
	background-color:#8FBC8F;
	text-align: center;
}

.lotion{
	color:#FFFFE0;
}
h1{
	font-size: 70px;
	font-family: "Engravers MT", Arial, serif;
}
hr {
	width: 325px;
}
.about {
	text-align:center;
	color: #3D3933;
}

div.container {
    position: fixed;
    float: left;
    top: 100px;
    width: 100%;
    clear: both;
}

#right {
    float: right;
    width: 300px;
    margin-left: -300px;
    height: 1%; 
    padding: 70px;